$dark_blue__dark_mode_elements: hsl(209, 23%, 22%);
$very_dark_blue__dark_mode_background: hsl(207, 26%, 17%);
$very_dark_blue__light_mode_text: hsl(200, 15%, 8%);
$dark_gray__light_mode_input: hsl(0, 0%, 52%);
$very_light_gray__light_mode_background: hsl(0, 0%, 98%);
$white__dark_mode_text__and__light_mode_elements: hsl(0, 0%, 100%);

section.country-view {
  flex: 1;
  padding: 0 calc(6% + 1rem) 6rem;

  transition: background .2s ease-in-out;

  &.DARK {
    background: $very_dark_blue__dark_mode_background;
    & > a.back {
      background: $dark_blue__dark_mode_elements;
      color: $white__dark_mode_text__and__light_mode_elements;
    }

    & > .container {
      & > img {
        width: 100%;
        object-fit: cover;
      }

      & > .data-container {
        & > h1 {
          color: $white__dark_mode_text__and__light_mode_elements;
        }
        
        & > .data-box {
          & > .data-box__part {
            & > p {
              color: $white__dark_mode_text__and__light_mode_elements;

              & > span {
                & > b {
                }
              }
            }
          }
        }

        & > .border-countries {
          color: $white__dark_mode_text__and__light_mode_elements;
          & > a {
            background: $dark_blue__dark_mode_elements;
            color: $white__dark_mode_text__and__light_mode_elements;
          }
        }
      }
    }
  }
  &.LIGHT {
    background: $very_light_gray__light_mode_background;
    & > a.back {
      background: $white__dark_mode_text__and__light_mode_elements;
      color: $very_dark_blue__light_mode_text;
    }

    & > .container {
      & > img {
        width: 100%;
        object-fit: cover;
      }

      & > .data-container {
        & > h1 {
          color: $very_dark_blue__light_mode_text;
        }
        
        & > .data-box {
          & > .data-box__part {
            & > p {
              color: $very_dark_blue__light_mode_text;
              & > span {
                & > b {
                }
              }
            }
          }
        }

        & > .border-countries {
          color: $very_dark_blue__light_mode_text;
          & > a {
            background: $white__dark_mode_text__and__light_mode_elements;
            color: $very_dark_blue__light_mode_text;
          }
        }
      }
    }
  }

  & > a.back {
    width: fit-content;
    margin: 4.8rem 0 6.8rem;
    padding: 1rem 3rem;
    box-shadow: 0 .1rem 1rem #00000020;

    display: flex;
    align-items: center;
    border: none;

    text-decoration: none;
    transition: .2s ease-in-out;

    & > span {
      font-size: 1.6rem;

      &:nth-child(1) {
        margin-right: 1rem;
      }
    }
  }

  & > .container {
    max-width: 56rem;
    margin: auto;

    & > img {
      width: 100%;
      max-height: 34rem;
      object-fit: cover;
    }

    & > .data-container {
      & > h1 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2.4rem;

        transition: color .2s ease-in-out;
      }
      
      & > .data-box {
        & > .data-box__part {
          margin-bottom: 3.2rem;

          & > p {
            margin-bottom: 1rem;
            transition: color .2s ease-in-out;

            & > span {
              font-size: 1.4rem;

              & > b {
                font-weight: 600;
              }
            }
          }
        }
      }

      & > .border-countries {
        display: flex;
        gap: 1.6rem;
        flex-wrap: wrap;

        & > h2 {
          width: 100%;
          transition: color .2s ease-in-out;
        }
        & > a {
          text-decoration: none;
          display: block;
          min-width: 8rem;
          padding: 1rem 2rem;
          box-shadow: 0 .1rem 1rem #00000020;
          border-radius: .4rem;

          font-size: 1.4rem;
          text-align: center;

          transition: .2s ease-in-out;
        }
      }
    }
  }

  @media screen and (min-width: 576px) {
    & > a.back {
      margin: 8rem 0;
    }
    & > .container {
      & > .data-container {
        & > h1 {
          font-size: 3.2rem;
        }

        & > .data-box {
          & > .data-box__part {
            & > p {
              span {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    & > .container {
      display: flex;
      max-width: none !important;
      gap: 10%;

      & > img {
        flex: .6;
        min-width: 48rem;
        max-height: 56rem;
        overflow: hidden;
        object-fit: cover;
      }

      & > .data-container {
        flex: 1;
        max-width: 56rem;
        padding: 4rem 0;

        display: flex;
        flex-flow: column nowrap;

        & > h1 {
          margin-top: 0;
        }

        & > .data-box {
          display: flex;
          margin: 2rem 0 1rem;
          justify-content: space-between;

          & > .data-box__part {
            margin-right: 8rem;

            & > p {
              margin-bottom: 1.4rem;
            }
          }
        }

        & > .border-countries {
          flex: 1;

          display: flex;
          align-items: flex-end;
          align-content: flex-end;

          h2 {
            width: auto;
            height: 4rem;
            display: grid;
            place-items: center;
          }
        }
      }
    }
  }
}
