$dark_blue__dark_mode_elements: hsl(209, 23%, 22%);
$very_dark_blue__dark_mode_background: hsl(207, 26%, 17%);
$very_dark_blue__light_mode_text: hsl(200, 15%, 8%);
$dark_gray__light_mode_input: hsl(0, 0%, 52%);
$very_light_gray__light_mode_background: hsl(0, 0%, 98%);
$white__dark_mode_text__and__light_mode_elements: hsl(0, 0%, 100%);

.search-comp {
  width: 100%;
  max-width: 48rem;

  z-index: 99;
  position: relative;
  border-radius: .6rem;

  display: flex;
  place-items: center;

  transition: background .2s ease-in-out;

  &.DARK {
    background: $dark_blue__dark_mode_elements;
    & > .icon-search {
      color: $white__dark_mode_text__and__light_mode_elements;
    }
    & > input.in-search {
      color: $white__dark_mode_text__and__light_mode_elements;

      &::placeholder {
        opacity: 1;
      }
    }
    & > .search-result {
      background: $dark_blue__dark_mode_elements;
      & > a {
        color: $white__dark_mode_text__and__light_mode_elements;
      }
    }
  }
  &.LIGHT {
    background: $white__dark_mode_text__and__light_mode_elements;
    & > .icon-search {
      color: $dark_gray__light_mode_input;
    }
    & > input.in-search {
      color: $dark_gray__light_mode_input;

      &::placeholder {
        opacity: 1;
      }
    }
    & > .search-result {
      background: $white__dark_mode_text__and__light_mode_elements;
      & > a {
        color: $dark_gray__light_mode_input;
      }
    }
  }

  & > .icon-search {
    position: absolute;
    left: 2.8rem;
    transform: translateY(-.2rem);

    font-size: 2rem;
    transition: color .2s ease-in-out;
  }
  & > input.in-search {
    width: 100%;
    padding: 1.8rem 1rem 1.8rem 6.8rem;

    display: block;
    border: none;
    box-shadow: 0 .1rem 1rem #00000020;
    position: relative;
    background: none;

    font-size: 1.4rem;
    font-weight: 600;
    transition: color .2s ease-in-out;

    &:focus {
      outline: none;
    }
    &::placeholder {
      user-select: none;
    }
  }

  & > input.in-search:valid ~ .search-result,
  & > input.in-search:focus ~ .search-result {
    height: auto;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;

    opacity: 1;

    &::-webkit-scrollbar {
      width: .8rem;
    }
    &::-webkit-scrollbar-track {
      border-radius: .2rem;
    }
  }
  & > .search-result {
    width: 100%;
    opacity: 0;
    height: 0;

    border-radius: .6rem;
    box-shadow: 0 .1rem 1rem #00000020;
    position: absolute;
    top: calc(100% + .4rem);

    transition: opacity .2s ease-in-out;

    & > a {
      display: block;
      text-decoration: none;

      padding: 1rem 2rem;
      font-size: 1.6rem;

      &:focus {
        outline: none;
        text-shadow: 0 0 .4rem #ffffff80;
        transform: scale(1.01);
        font-weight: 600;
        background: #ffffff10;
      }

      &:first-child {
        margin-top: 1rem;
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (min-width: 576px) {
    & > input.in-search {
      font-size: 1.6rem;
    }
  }
}
